<div class="content narrow">
	<h2 class="content text-align-center page-heading with-underline">Ana Gutierrez + The Winters</h2>

	<div>
		<h4>Overall Goal</h4>
		<div><textarea rows="5" cols="50">{{overall_goal}}</textarea></div>
	</div>

	<br>

	{{#each child}}
		<section style="background-color: #e6e6e6; padding: 1rem;">
			<h3 class="with-underline">{{child_name}}, age {{child_age}}</h3>
			<div class='card'>
				<img src="http://placehold.it/80x80/" alt="child" class="profile-thumbnail">
			</div>

			<br>

			<div>
				<h4>Morning Routine:</h4>
				<div><textarea rows="4" cols="50">{{morning_routine}}</textarea></div>
			</div>

			<br>

			<div>
				<h4>Afternoon Routine:</h4>
				<div><textarea rows="4" cols="50">{{afternoon_routine}}</textarea></div>
			</div>

			<br>

			<div>
				<h4>Bedtime Routine:</h4>
				<div><textarea rows="4" cols="50">{{evening_routine}}</textarea></div>
			</div>

			<br>

			<div>
				<h4>School:</h4>
				<div><textarea rows="4" cols="50">{{school}}</textarea></div>
			</div>

			<br>

			<div>
				<h4>Religion:</h4>
				<div><textarea rows="4" cols="50">{{religion}}</textarea></div>
			</div>

			<br>

			<div>
				<h4>Allergies:</h4>
				{{#each allergy}}
					<div>
						<input type="checkbox" id="{{allergen_id}}" checked="{{is_allergic}}">
						<label for="{{allergen_id}}">{{name}}</label>
					</div>
				{{/each}}
			</div>

			<br>

			<div>
				<h4>Food comments:</h4>
				<div><textarea rows="4" cols="50">{{food_comments}}</textarea></div>
			</div>

			<br>

			<div>
				<h4>Care (hair, meds, etc.):</h4>
				<div><textarea rows="4" cols="50">{{care}}</textarea></div>
			</div>

			<br>

			<div>
				<h4>Hobbies:</h4>
				<div><textarea rows="4" cols="50">{{hobbies}}</textarea></div>
			</div>

			<br>

			<div>
				<h4>Likes:</h4>
				<div><textarea rows="4" cols="50">{{likes}}</textarea></div>
			</div>

			<br>

			<div>
				<h4>Dislikes:</h4>
				<div><textarea rows="4" cols="50">{{dislikes}}</textarea></div>
			</div>

		</section>
	{{/each}}

	<br>

	<div style='clear:both' align="center">
		<button onclick="APP.profileBuilt()" class="btn">Done</button>
		<button class="btn">Cancel</button>
	</div>
</div>