<div class="content">
	<div style='padding: 10px' class="name">
		Name:
		<input value={{child_name}}/>
	</div>

	<div style='padding: 10px'>
		Allergies:
		{{#each allergy}}
			<div>
				<input type="checkbox" id="{{allergen_id}}" checked="{{is_allergic}}">
				<label for="{{allergen_id}}">{{name}}</label>
			</div>
		{{/each}}
	</div>

	<div style='padding: 10px'>
		Morning Routine:
		<div><textarea rows="4" cols="50">{{morning_routine}}</textarea></div>
	</div>
	<div style='padding: 10px'>
		Evening Routine:
		<div><textarea rows="4" cols="50">{{evening_routine}}</textarea></div>
	</div>
</div>