<div class="content">
	<div class="name">
		Event Name:<br>
		<input value="{{event_name}}" class="input-text/>
	</div>

	<br>
	<br>

	<div class="name">
		<br><br>Event type:<br>
		<select>
			{{#each event_type}}
				{{#if selected}}
					<option selected="selected">{{name}}</option>
				{{else}}
					<option>{{name}}</option>
				{{/if}}
			{{/each}}
		</select>
	</div>

	<br>

	<div class="name">
		<div>Event Date & Time:</div>
		<input type="date">
	</div>

	<br>

	<div class="name">
		<div>Description:</div>
		<textarea rows="5" class="full-width textarea">{{description}}</textarea>
	</div>

	<br>

	<div>
		With:
		<ul>
			{{#each child}}
				<li style="padding: 0.1rem"><input type="checkbox" checked="{{chosen}}"/> {{child_name}} (with the
					<em>{{foster_family_surname}}</em>)
				</li>
			{{/each}}
		</ul>
	</div>

	<div style='clear:both' align="center">
		<hr/>
		<button onclick="APP.submitVisit()" class="btn">Propose</button>
		<button class="btn">Cancel</button>
	</div>
</div>