<div class="content">
	<div class="name">
		Event Name:<br>
		<input id='name' value="{{event_name}}" class="input-text"/>
	</div>

	<br>
	<br>

	<div class="name">
		<br><br>Event type:<br>
		<select id='type'>
			{{#each event_type}}
				{{#if selected}}
					<option selected="selected">{{name}}</option>
				{{else}}
					<option>{{name}}</option>
				{{/if}}
			{{/each}}
		</select>
	</div>

	<br>

	<div class="name">
		<div>Event Date & Time:</div>
		<input type="date">
	</div>

	<br>

	<div class="name">
		<div>Description:</div>
		<textarea id='description' rows="5" class="full-width textarea">{{description}}</textarea>
	</div>

	<br>

	<div>
		With:
		<ul>
			{{#each child}}
				<li style="padding: 0.1rem"><input id="with_{{id}}" type="checkbox" checked="{{chosen}}"/> {{child_name}} (with
					the
					<em>{{foster_family_surname}}</em>)
				</li>
			{{/each}}
		</ul>
	</div>

	<div style='clear:both' align="center">
		<hr/>
		<button onclick="APP.submitVisit()" class="btn">Propose</button>
		<button class="btn">Cancel</button>
	</div>

	<script>
		var setName = function() { document.getElementById("name").value = "Girls' day out" }
		var setType = function() { document.getElementById("type").value = "Social" }
		var setDescription = function() {
			document.getElementById("description").value = "Going out to get our nails and hair done together."
		}
		var setWith2 = function() {
			document.getElementById("with_2").checked = true
		}
		setTimeout(setName, 250)
		setTimeout(setType, 500)
		setTimeout(setDescription, 750)
		setTimeout(setWith2, 1000)
	</script>
</div>