<html ng-controller="langwijController" ng-keyup="handleKeyup($event)">
	<head>

		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

		<meta name="viewport" content="initial-scale=1.0,width=320.1,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="css/framework/reset.css">
		<link rel="stylesheet" type="text/css" href="css/framework/global.css">
		<link rel="stylesheet" type="text/css" href="css/framework/typography.css">
		<link rel="stylesheet" type="text/css" href="css/framework/colors.css">
		<link rel="stylesheet" type="text/css" href="css/framework/structure.css">
		<link rel="stylesheet" type="text/css" href="css/framework/effects.css">
		<link rel="stylesheet" type="text/css" href="css/framework/forms.css">
		<link rel="stylesheet" type="text/css" href="css/framework/navs.css">
		<link rel="stylesheet" type="text/css" href="css/framework/slidepanel.css">
		<link rel="stylesheet" type="text/css" href="css/framework/buttons.css">
		<link rel="stylesheet" type="text/css" href="css/framework/images.css">
		<link rel="stylesheet" type="text/css" href="css/framework/lightbox.css">
		<link rel="stylesheet" type="text/css" href="css/framework/overlay.css">
		<link rel="stylesheet" type="text/css" href="css/framework/states.css">
		<link rel="stylesheet" type="text/css" href="css/framework/media-phone.css">

		<link rel="stylesheet" type="text/css" href="css/app.css">

	</head>
	<body class="enhanced bg-white gray-333333 helvetica-neue has-header-fixed">

		<header class="nav bg-gray full-width position-fixed to-top z-index-1 touch-height" id="main_header">
			<ul>
				<li class="display-inline-block width-one-third text-align-left">
					<form>
						<label for="nav_primary_toggle" class="media-mobile white touch-height touch-width"></label>
						<span class="circle notification" ng-if="notificationCenter.notificationCount">1</span>
		 				<input type="checkbox" class="nav-collapsible-toggle media-mobile touch-height touch-width is-hidden-via-opacity" name="nav_primary_toggle" id="nav_primary_toggle">
						<nav class="slidepanel left with-transition font-size-medium bg-gray text-align-left">
							<div>
								<h3 class="bg-gray-e1e1e8 padding-0-1em font-weight-bold">General</h3>
								<ul class="gray-eeeeee padding-1em">
									<li><a href="" class="gray-eeeeee text-decoration-none full-width touch-height">Home</a></li>
									<li><a href="" class="gray-eeeeee text-decoration-none full-width touch-height">Playlists</a></li>
									<li><a href="" class="gray-eeeeee text-decoration-none full-width touch-height">Change Language</a></li>
								</ul>
							</div>
							<div ng-if="user.isSignedIn">
								<h3 class="bg-gray-e1e1e8 padding-0-1em font-weight-bold">My Account</h3>
								<ul class="gray-eeeeee padding-1em">
									<li><a href="" class="gray-eeeeee text-decoration-none full-width touch-height">My Preferences</a></li>
									<li><a href="" class="gray-eeeeee text-decoration-none full-width touch-height">Change Password</a></li>
									<li><a href="" class="gray-eeeeee text-decoration-none full-width touch-height">Change Email</a></li>
									<li><a href="" class="gray-eeeeee text-decoration-none full-width touch-height">Log Out</a></li>
								</ul>
							</div>
							<div>
								<h3 class="bg-gray-e1e1e8 padding-0-1em font-weight-bold">Help</h3>
								<ul class="gray-eeeeee padding-1em">
									<li><a href="" class="gray-eeeeee text-decoration-none full-width touch-height">F.A.Q.</a></li>
									<li><a href="" class="gray-eeeeee text-decoration-none full-width touch-height">Contact Us</a></li>
								</ul>
							</div>
						</nav>
					</form>
				</li><!--
			 --><li class="display-inline-block width-one-third middle text-align-center">
					<h1>
						<a href="" title="Home" class="text-decoration-none" id="logo">HACKATHON</a>
						<dots ng-show="showLoading"></dots>
					</h1>
				</li><!--
			 --><li class="display-inline-block position-relative width-one-third text-align-right">
				</li>
			</ul>
		</header>

		<section class="clearfix" id="main">
			<aside class="sidebar">
				<nav>
					<div>
						<h3 class="font-weight-bold">General</h3>
						<ul class="">
							<li><a href="" class="">Home</a></li>
							<li><a href="" class="">Playlists</a></li>
							<li><a href="" class="">Change Language</a></li>
						</ul>
					</div>
					<div>
						<h3 class="font-weight-bold">My Account</h3>
						<ul class="">
							<li><a href="" class="">My Preferences</a></li>
							<li><a href="" class="">Change Password</a></li>
							<li><a href="" class="">Change Email</a></li>
							<li><a href="" class="">Log Out</a></li>
						</ul>
					</div>
					<div>
						<h3 class="font-weight-bold">Help</h3>
						<ul class="">
							<li><a href="" class="">F.A.Q.</a></li>
							<li><a href="" class="">Contact Us</a></li>
						</ul>
					</div>
				</nav>
			</aside>

			<section class="content narrow-width margin-0-auto padding-2em-1em" ng-hide="playlistItems || showLoading">
				<h2 class="font-size-large font-weight-bold line-height-triple">Welcome</h2>
				<p class="font-size-medium line-height-single">Welcome to langwij. We are here as a complement to your language courses. Stream audio in the language of your choosing and just work the day away as your normally would and let your subconscious do the work.</p>
				<hr class="line-height-double">
				<p class="font-size-medium line-height-single font-weight-bold">Which language are you learning?</p>
				<br>
				<select name="language_selector_select" ng-model="selectedLanguage" ng-options="language.name for language in languages">
				</select>
			</section>
		</section>

		<hr>

		<footer class="text-align-center">
			<nav id="tertiary" class="padding-1em">
				<ul class="nav-stackable with-pipes">
					<li><a href="" title="" class="font-size-medium">Home</a></li>
					<li><a href="" title="" class="font-size-medium">About</a></li>
					<li><a href="" title="" class="font-size-medium">F.A.Q.</a></li>
				</ul>
			</nav>
			<span class="copyright display-block padding-1em font-size-medium">&copy; 2014 langwij</span>
		</footer>

		<overlay class="overlay">
			<div class="narrow-width margin-0-auto padding-2em-1em bg-white">
				<h2 class="font-size-large font-weight-bold line-height-triple">Loading...</h2>
				<p class="font-size-medium line-height-single">We thank you for patience while we load your entertainment for this evening.</p>
			</div>
		</overlay>

		<script src="js/app.js"></script>

	</body>
</html>