<div class="content">
	<div style='padding: 10px' class="name">
		with the <em>{{foster_family_surname}}</em>
	</div>

	{{#each message}}
		{{#if incoming_message}}
			<div style="padding: 10px" align="left">
				<div align="left"><em>{{timestamp}}</em></div>
				<div style="background-color: #F9DBBD; border-width:1px;border-style:solid;padding:5px;border-radius:7px;">
					{{#if image}}
						<div align="center"><img src="{{image}}"/></div>
					{{/if}}
					{{text}}
				</div>
			</div>
		{{else}}
			<div style="padding: 10px" align="right">
				<div align="right"><em>{{timestamp}}</em></div>
				<div style="background-color: #D0C4DF; border-width:1px;border-style:solid;padding:5px;border-radius:7px;">
					{{#if image}}
						<div align="center">
							<img src="{{image}}" style="max-width:100%; max-height:100%;"/>
						</div>
					{{/if}}
					{{text}}
				</div>
			</div>
		{{/if}}
	{{/each}}
	<div style='padding: 10px' class="name">
		<textarea rows="15" cols="50"></textarea>
	</div>

	<form>
		<div style='padding: 10px' class="name">
			<input size="50"/>
		</div>

		<div style='clear:both' align="center">
			<hr/>
			<input type="submit" value="Send"/>
			<button>Cancel</button>
		</div>
	</form>
</div>