<div class="content">
	{{#each parent}}
		<div class="name">
		Parent's Name:
		<em>{{parent_name}}</em>
	</div>

	<br>

	<div class="full-width">
		Communication allowed?
		{{#each foster_family}}
			<div><input type="checkbox" checked>With the {{surname_plural}}</div>
		{{/each}}
	</div>

	<br>

	<div class="full-width">
		Visitations approved?
		<div><input type="checkbox" checked>Supervised</div>
		<div><input type="checkbox" id="andrea_{{parent_name}}"><label for="andrea_{{parent_name}}">Unsupervised</label></div>
	</div>

	<hr>
	{{/each}}

	<div style='clear:both' align="center">
		<button class="btn" onclick="APP.closeOverlay()">Save</button>
		<button class="btn">Cancel</button>
	</div>
</div>
