.btn {
	line-height: 44px;
	border: 0;
	margin: 0;
}

input[type="submit"].btn,
button.btn,
a.btn {
	color: #333;
	text-decoration: none;
	font-weight: bold;
	background-color: #eeeeee;
	line-height: 44px;
	height: 44px;
	-webkit-appearance: none;
	-webkit-border-radius: 10px; 
    border-radius: 10px;
	padding: 0 1.5rem;
    font-size: .8rem;
    text-transform: uppercase;
}
a.btn {
	display: inline-block!important;
}

.btn-permissions {
	-webkit-appearance: none;
	background-color: transparent;
	border: 0;
}
	.btn-permissions img {
		width: 20px;
		height: 20px;
		position: relative;
	}
