/*@media only screen 
	and (max-width: 568px) {
*/		.media-desktop {
			display: none;
		}
		.media-mobile {
			display: block;
		}
		.admin-bar .fixed-top {
			top: 46px;
		}
		label[for="nav_primary_toggle"] {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 3em;
			text-align: center;
			background: transparent url('../../img/icon_hamburger.svg') 8px 12px no-repeat;
			/*-webkit-transform: rotate(45deg);*/
			background-size: 22px;
		}
		.nav-collapsible {
			display: block;
		}
		.nav-collapsible-toggle {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
		}
		.nav-collapsible {
			width: 100%;
			padding: 0;
		}
		.nav-collapsible .with_pipes > li:after {
			content: none;
		}
		.nav-collapsible li {
			display: block;
			line-height: 43px;
			padding: 0 1em 0 1em;
			border-bottom: 1px solid #9CCCB4;
			text-align: left;
		}
			body.lang-fr .nav-collapsible li {
				border-bottom: 1px solid #FECCCB;
			}
			.nav-collapsible li:first-child {
				border-top: 1px solid #9CCCB4;
			}
				body.lang-fr .nav-collapsible li:first-child {
					border-top: 1px solid #FECCCB;
				}
			.nav-collapsible li:last-child {
				border-bottom: 0;
			}
		.nav-collapsible li a {
			display: block;
			padding-left: 0;
		}

		/* content */
		.narrow-width.padding_1em,
		.narrow-width.padding-1em {
			padding: 1em 7.5%;
		}
		.parallax-slide {
			padding: 1em 2em!important;
		}

		/* forms */
		input[type="submit"].btn {
			width: 100%;
		}
/*}*/

/* desktop */
@media only screen 
	and (min-width: 568px) {
		.nav-stackable {
			display: block;
		}
			.nav-stackable > li {
				display: inline;
			}
				.nav-stackable.with_pipes > li:after {
					content: '|';
				}
}

/* phones */
@media only screen 
	and (max-width: 568px) {
		span.welcome {
			display: none;
		}
		.hamburger form {
			display: block;
		}
		#tertiary {
			padding-top: 0;
			padding-bottom: 0;
			padding: 0;
		}
		.nav-stackable {
			display: block;
		}
				.nav-stackable.with-pipes > li:after {
					content: none;
				}
				.nav-stackable > li a {
					display: block;
					line-height: 44px;
					border-bottom: 1px solid #eeeeee;
					margin-bottom:5px;
				}
				.nav-stackable > li:last-child a{
					border-bottom: 0;
				}
				.with-pipes > li {
					border-right: 1px solid rgba(51, 51, 51, .1);
					line-height: 44px;
				}
				.with-pipes > li:after {
					content: none;
				}
				.with-pipes > li:last-child {
					border-right: none;
				}
				.with-pipes > li a {
					position: relative;
					text-decoration: none;
					font-size: 12px;
					margin-bottom: 0;
					bottom: -7px;
				}
					.with-pipes > li a:active,
					.with-pipes > li a:visited {
						color: #333;
					}
				.with-pipes img {
					width: 30px;
				    height: 30px;
				    position: relative;
				    top: 15px;
				}
		.sidebar {
			display: none;
		}
		.content {
			width: 100%;
			float: none;
		}
		.copyright {
			display: none!important;
		}
		.cards {
			padding: 1rem;
		}
		.card {
			width: 100%;
			padding-right: 0;
		}
			.card:nth-child(odd) {
				margin-right: 0;
			}
			.card.calendar {
				padding-right: 1rem;
			}
		footer {
			width: 100%;
			display: block;
			position: fixed;
			bottom: 0;
			background-color: #e6e6e6;
		}
			footer ul {
				display: block;
			}
				footer ul li {
					display: inline-block;
					width: 33%;
				}

}